<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
#parse("/base/head.vm")
<div class="navbar">
    <div class="wrapper" id="navbar">
        <script type="text/javascript" src="${resURLPrefix}/base/nav.html"></script>
    </div>
</div>
<div class="content">
    <div class="notice">
        <span class="icon left"></span>

        <p>
            <strong>活动通知</strong>
            <script type="text/javascript" src="${resURLPrefix}/base/notice.html"></script>
        </p>
        <span class="icon right"></span>
    </div>
    <div class="breadcrumb">
        当前位置：<a href="#">${list.category}</a>
    </div>

    <div class="layer2 layer2-1 article-list">
        <h2><span><em>${list.category}</em></span></h2>
        <dl>
            <c:if test="${!list.listEmpty}">
                <c:forEach items="${list.data}" var="item">
                    <dt><span><a href="${item.get("url")}" target="_blank">${item.get("title")}</a></span><em>[${item.get(
                        "publishDate")}
                        ]</em>
                    </dt>
                    <dd>
                        ${item.get("depict")}<a href="${item.get("url")}" target="_blank">[详细]</a>
                    </dd>
                </c:forEach>
            </c:if>
            <c:if test="${list.listEmpty}">
                <dt><span style="color:red;text-align: center; background: none">(当前文章列表为空)</span></span></dt>
            </c:if>
        </dl>
        <div class="paginator">
        </div>
    </div>

    <div class="rightside">
        <script type="text/javascript" src="${resURLPrefix}/base/fawu.html"></script>
        <script type="text/javascript" src="${resURLPrefix}/base/futian.html"></script>
    </div>
</div>
<!-- /content -->

#include("/base/foot.vm")
</div>
</div>
#parse("/base/script.vm")

<script>
    // nav current category
    var liIndex = ${list.categoryId} -1;
    if($('#navbar > ul > li').length > liIndex){
        $('#navbar > ul > li:eq("' + liIndex + '")').addClass("current").siblings().removeClass("current");
    }else{
        $('#navbar > ul > li').removeClass("current");
    }
    var pageCnt = ${list.totalPage};
    var page = ${list.pageNum};
    var listUrl = ${listUrl};
</script>
<script type="text/javascript" src="${resURLPrefix}/static/lzs/js/paginate.js"></script>
</body>
</html>
